/* calendar */
table.calendar {
    font-family: arial, helvetica;
    font-size: 10pt;
    empty-cells: show;
    border: 1px solid #000000;
    border-collapse: collapse;
}
table.calendar tr td {
    border: 1px solid #aaaaaa;
}
table.calendar tr {
    vertical-align: top;
    height: 6em;
    background: #eeeeee;
}
table.calendar thead tr {
    text-align: center;
    background: #444444;
    color: #ffffff;
    height: auto;
    font-weight: bold;
}
.lecture {
    background: #ffffaa;
}
.discuss {
    background: #ff9900;
}
.recitation {
    background: #cccc99;
}
.tutorial {
    background: #dddd55;
}
.quiz {
    background: #ff9900;
}
.holiday {
    background: #ccffcc;
}
.special {
    background: #aaaaff;
}
.important {
    background: #ffaaaa;
}
.reading {
    color: #3333ff;
}
.deadline {
    color: #ff0000;
}
.assignment {
    color: #0aa00a;
}
.date {
    color: #444444;
}
.due {
    background: #ffaaaa;
}

.admonition-excercise {
  padding: 12px;
  line-height: 24px;
  margin-bottom: 24px;
  background: #DBFAF4;
}

.admonition-excercise .first {
  background: #1ABC9C !important;
}

.admonition-excercise .last {
  margin-bottom: 0px;
}

.admonition-challenge {
  padding: 12px;
  line-height: 24px;
  margin-bottom: 24px;
  background: #E7F2FA;
}

.admonition-challenge .first {
  background: #6AB0DE !important;
}

.admonition-challenge .last {
  margin-bottom: 0px;
}

/* XXX. change color */
.admonition-tip {
  padding: 12px;
  line-height: 24px;
  margin-bottom: 24px;
  background: #DBFAF4;
}

.admonition-tip .first {
  background: #1ABC9C !important;
}

.admonition-tip .last {
  margin-bottom: 0px;
}

.admonition-question {
  padding: 12px;
  line-height: 24px;
  margin-bottom: 24px;
  background: #DBFAF4;
}

.admonition-question .first {
  background: #1ABC9C !important;
}

.admonition-question .last {
  margin-bottom: 0px;
}
